<html>
    <head>
        <title>Manage Page</title>
    </head>
    <body>
        <h1>Add an Article</h1>
        <form action="/add_article/">
          <button>Add Article</button>
        </form>
        <h1>Edit an Article</h1>
        <form action="/edit_article/">
          <button>Edit Article</button>
        </form>
        <h1>Remove an Article</h1>
        <form action="/remove_article/">
          <button>Remove Article</button>
        </form>
        <h1>View Articles</h1>
        <form action="/view_articles/">
          <button>View Articles</button>
        </form>
    </body>
</html>
